*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}

img{
    width: 300px;

    padding: 5px;

}

.Contenedor{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.Welcome{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    
    padding-top: 50%;
    padding-bottom: 100%;
    
    background: #D2E8E4;
    
}

.Portafolio{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20%;
}

.Titulo{

    margin: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    color: #9BB1AD;
    
}

.Evidencias{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    align-items: center;
    

}

.Row{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-bottom: 20px;
}


.ImagenDescripcion{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(173,216,230);
    justify-content: space-between;
}
.Descripcion{
    width: 100%;
    text-align: center;
    border:  2px solid rgb(173,216,230);
    border-bottom: 0px;
}

.Boton{
    
    background: #e0ebe8;
    border: 2px solid #90c695;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px;
    
    text-decoration: none;
    color: #008093;
    
}


.Boton:hover{
    background: rgba(90,154,179,.3);
}

.Contacto{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 35%;
    background: #c8f7c4
    
}

.TituloContacto{
    width: 100%;
    text-align: center;
}

.ListaBotones{
    width: 700px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    
    
}

.Boton2{
    width: 10%;
    background: #e0ebe8;
    border: 2px solid #90c695;
    border-radius: 100%;
    padding: 25px;
    padding-bottom: 40px;
    padding-top: 45px;
    text-decoration: none;
    color: #008093;
    text-align:center;
    
}

<<<<<<< HEAD
.navbar {
=======
.Boton2:hover{
    background: rgba(221,230,220.3);
}
.container {
>>>>>>> 7faec56258ca861bbbd7e4f5943d6027658fc527
    display: flex;
    background-color: #008080;
  }


  .navbar > li {
    flex: 1;
  }

  .Contenedor .Head nav ul.navbar li {
      margin-right: 15px;
      list-style: none;
      font-size: 25px;
      text-align: right;
      color: #008080;
  }

















